 .u-section-1 {
  min-height: 616px;
}

.u-section-1 .u-sheet-1 {
  min-height: 899px;
}

.u-section-1 .u-group-1 {
  width: 490px;
  min-height: 738px;
  height: auto;
  background-image: none;
  margin: 125px auto 0 16px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  font-style: normal;
  margin: 2px 55px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 132px 40px 0 0;
}

.u-section-1 .u-line-1 {
  width: 401px;
  transform-origin: right center;
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 20px auto 0 122px;
}

.u-section-1 .u-image-1 {
  width: 442px;
  height: 542px;
  margin: -614px 20px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 450px;
  height: 527px;
  margin: -554px 40px 99px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 400;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 417px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 398px;
    margin-top: -429px;
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 616px;
}

.u-section-2 .u-sheet-1 {
  min-height: 806px;
}

.u-section-2 .u-image-1 {
  width: 475px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 633px;
  margin: 73px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 509px;
  min-height: 578px;
  height: auto;
  background-image: none;
  margin: -619px 0 80px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-2 .u-text-1 {
  position: relative;
  font-size: 3.25rem;
  font-weight: 400;
  margin: 123px 54px 0 20px;
}

.u-section-2 .u-line-1 {
  width: 253px;
  transform-origin: right center 0px;
  margin: 13px auto 0 20px;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 35px 20px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 184px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-2 .u-image-1 {
    width: 617px;
    height: 628px;
    margin-top: 41px;
  }

  .u-section-2 .u-group-1 {
    width: 394px;
    margin-top: -616px;
    margin-bottom: 54px;
    height: auto;
  }

  .u-section-2 .u-line-1 {
    transform-origin: right center 0;
  }

  .u-section-2 .u-btn-1 {
    text-transform: uppercase;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-2 .u-image-1 {
    width: 598px;
    height: 636px;
    margin-top: 35px;
  }

  .u-section-2 .u-group-1 {
    width: 327px;
    margin-top: -651px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1260px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 599px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1182px;
    margin-bottom: 696px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-2 .u-image-1 {
    height: 401px;
    margin-top: 550px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    margin-top: -928px;
    margin-bottom: 494px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1472px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 560px;
  background-image: none;
}

.u-section-3 .u-image-1 {
  object-position: 50% 0%;
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 16px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 27px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 560px;
}

.u-section-3 .u-image-2 {
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  position: relative;
  margin: 27px 20px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  position: relative;
  margin: 27px 20px 18px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 560px;
}

.u-section-3 .u-image-3 {
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  position: relative;
  margin: 27px 20px 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  position: relative;
  margin: 27px 20px 18px;
}

.u-section-3 .u-image-4 {
  width: 452px;
  height: 603px;
  margin: 126px 61px 0 auto;
}

.u-section-3 .u-text-7 {
  margin: -544px 593px 0 32px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 307px auto 60px 32px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin: 16px 16px 15px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-3 .u-image-2 {
    height: 377px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    margin: 16px 16px 15px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 580px;
  }

  .u-section-3 .u-image-3 {
    height: 377px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    margin: 16px 16px 15px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 424px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-3 .u-image-1 {
    height: 153px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-3 .u-image-1 {
    height: 344px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-3 .u-image-1 {
    height: 217px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 454px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: -395px;
    margin-right: 0;
  }
} .u-section-4 {
  min-height: 616px;
}

.u-section-4 .u-sheet-1 {
  min-height: 741px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 314px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 38px;
}

.u-section-4 .u-line-1 {
  width: 439px;
  transform-origin: right center;
  margin: 14px 26px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 314px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 314px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 314px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-4 .u-line-1 {
    width: 402px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 259px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 259px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-line-1 {
    width: 292px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 198px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1301px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 297px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 187px;
  }
} .u-section-5 {
  min-height: 616px;
}

.u-section-5 .u-sheet-1 {
  min-height: 806px;
}

.u-section-5 .u-image-1 {
  width: 703px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 660px;
  margin: 73px auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 509px;
  min-height: 578px;
  height: auto;
  background-image: none;
  margin: -619px 0 80px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1;
  position: relative;
  margin: 41px 20px 0;
}

.u-section-5 .u-line-1 {
  width: 359px;
  transform-origin: right center 0;
  margin: 36px auto 0 20px;
}

.u-section-5 .u-text-2 {
  font-size: 4.5rem;
  font-style: italic;
  position: relative;
  margin: 19px 54px 0 20px;
}

.u-section-5 .u-line-2 {
  width: 253px;
  transform-origin: right center 0;
  margin: 13px auto 0 20px;
}

.u-section-5 .u-text-3 {
  position: relative;
  margin: 35px 20px 0;
}

.u-section-5 .u-link-1 {
  padding-bottom: 2px;
  font-weight: 700;
  margin: 58px auto 41px 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-5 .u-image-1 {
    width: 617px;
    height: 628px;
    margin-top: 41px;
  }

  .u-section-5 .u-group-1 {
    width: 394px;
    min-height: 550px;
    margin-top: -616px;
    margin-bottom: 54px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 296px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 29px;
    margin-left: 16px;
  }

  .u-section-5 .u-line-2 {
    width: 209px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-link-1 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-5 .u-image-1 {
    width: 598px;
    height: 636px;
    margin-top: 35px;
  }

  .u-section-5 .u-group-1 {
    width: 327px;
    min-height: 666px;
    margin-top: -651px;
    margin-bottom: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 227px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 40px;
    margin-left: 13px;
  }

  .u-section-5 .u-line-2 {
    width: 160px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-link-1 {
    margin-bottom: 60px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1260px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 599px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    min-height: 511px;
    margin-top: -1182px;
    margin-bottom: 696px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 42px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-5 .u-line-1 {
    width: 213px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 266px;
    margin-left: 0;
  }

  .u-section-5 .u-line-2 {
    width: 150px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-5 .u-link-1 {
    margin-top: 43px;
    margin-bottom: 42px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-5 .u-image-1 {
    height: 401px;
    margin-top: 550px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    min-height: 477px;
    margin-top: -928px;
    margin-bottom: 494px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 23px;
    margin-right: -1px;
    margin-left: 20px;
  }

  .u-section-5 .u-line-1 {
    width: 178px;
    margin-top: 33px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.75rem;
    margin-right: -1px;
    margin-left: 20px;
  }

  .u-section-5 .u-line-2 {
    width: 126px;
    margin-top: 19px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 36px;
    margin-right: -1px;
    margin-left: 20px;
  }

  .u-section-5 .u-link-1 {
    margin-bottom: 23px;
    margin-left: 20px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 875px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 80px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 654px;
  background-image: none;
}

.u-section-6 .u-image-1 {
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 427px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 27px 20px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: 27px 20px 18px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 654px;
}

.u-section-6 .u-image-2 {
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 427px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  position: relative;
  font-size: 3.75rem;
  margin: 27px 20px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  position: relative;
  margin: 27px 20px 18px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 654px;
}

.u-section-6 .u-image-3 {
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 427px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  position: relative;
  font-size: 3.75rem;
  margin: 27px 20px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.875rem;
  position: relative;
  margin: 27px 20px 18px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 44px auto 77px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-6 .u-image-1 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin: 16px 16px 15px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-6 .u-image-2 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    margin: 16px 16px 15px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 580px;
  }

  .u-section-6 .u-image-3 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.875rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-6 {
    margin: 16px 16px 15px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 49px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-btn-1 {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}